mixin navbar(user)
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    a(href='/').navbar-brand Navbar
    button(type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
      span.navbar-toggler-icon

    div.collapse.navbar-collapse#navbarsExampleDefault
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href="/") Home
        li.nav-item
          if !user
            a.nav-link(href="/signup") Sign-up
        li.nav-item
          if !user
            a.nav-link(href="/login" tabindex="-1" aria-disabled="true") Login
          if user
            span.navbar-text Hi #{user.username}!
    
    div.form-inline.my-2.my-lg-0
      ul.navbar-nav.mr-auto
        li.nav-item.active
          if user
            a.nav-link(href="/logout") Logout
</nav>